<!DOCTYPE html>
<html lang="en" ng-app="my_irc" ng-controller="Title as T">
<head>
    <meta charset="UTF-8">
    <title>{{ T.appTitle }} {{ T.unreadCount > 0 ? "(" + T.unreadCount + ")" : "" }}</title>
    <base href="/">

    <%if (applicationEnv === "production") { %>
     <!--LIB -->
     <!--Angular -->
    <script src="js/lib/angular/angular.min.js"></script>
    <!-- Angular Material-->
    <script src="js/lib/angular-animate/angular-animate.min.js"></script>
    <script src="js/lib/angular-aria/angular-aria.min.js"></script>
    <script src="js/lib/angular-messages/angular-messages.min.js"></script>
    <script src="js/lib/angular-material/angular-material.min.js"></script>
    <!--Angular UI Router-->
    <script src="js/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
    <!--Socket.IO-->
    <script src="socket.io/socket.io.js"></script>
    <!--Angular Socket.IO-->
    <script src="js/lib/angular-socket-io/socket.min.js"></script>
    <!--Angular-scroll-glue-->
    <script src="js/lib/angular-scroll-glue/src/scrollglue.js"></script>
    <!--Angular Sanitize-->
    <script src="js/lib/angular-sanitize/angular-sanitize.min.js"></script>
    <!--Youtube-->
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="js/lib/angular-youtube-mb/dist/angular-youtube-embed.min.js"></script>
    <!--Angular Web Notifications-->
    <script src="js/lib/html5-desktop-notifications2/dist/Notification.js/"></script>
    <script src="js/lib/simple-web-notification/web-notification.js"></script>
    <script src="js/lib/angular-web-notification/angular-web-notification.js"></script>

    <!-- STYLE -->
    <!--Angular Material CSS Sheet-->
    <link rel="stylesheet" href="js/lib/angular-material/angular-material.min.css">
    <!-- Material Font Icons set-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Own CSS Sheet-->
    <link rel="stylesheet" href="css/style.min.css">

    <!-- MY_IRC -->
    <script src="js/app/my_irc.min.js"></script>
    <% } %>

    <%if (applicationEnv === "development") { %>
    <!--LIB -->
    <!--Angular -->
    <script src="js/lib/angular/angular.js"></script>
    <!-- Angular Material-->
    <script src="js/lib/angular-animate/angular-animate.js"></script>
    <script src="js/lib/angular-aria/angular-aria.js"></script>
    <script src="js/lib/angular-messages/angular-messages.js"></script>
    <script src="js/lib/angular-material/angular-material.js"></script>
    <!--Angular UI Router-->
    <script src="js/lib/angular-ui-router/release/angular-ui-router.js"></script>
    <!--Socket.IO-->
    <script src="socket.io/socket.io.js"></script>
    <!--Angular Socket.IO-->
    <script src="js/lib/angular-socket-io/socket.js"></script>
    <!--Angular-scroll-glue-->
    <script src="js/lib/angular-scroll-glue/src/scrollglue.js"></script>
    <!--Angular Sanitize-->
    <script src="js/lib/angular-sanitize/angular-sanitize.js"></script>
    <!--Youtube-->
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="js/lib/angular-youtube-mb/src/angular-youtube-embed.js"></script>
    <!--Angular Web Notifications-->
    <script src="js/lib/html5-desktop-notifications2/dist/Notification.js/"></script>
    <script src="js/lib/simple-web-notification/web-notification.js"></script>
    <script src="js/lib/angular-web-notification/angular-web-notification.js"></script>

    <!-- STYLE -->
    <!--Angular Material CSS Sheet-->
    <link rel="stylesheet" href="js/lib/angular-material/angular-material.css">
    <!-- Material Font Icons set-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Own CSS Sheet-->
    <link rel="stylesheet" href="css/style.css">

    <!-- MY_IRC -->
    <!--Module and configs -->
    <script src="js/app/my_irc.module.js"></script>
    <script src="js/app/my_irc.route.js"></script>
    <script src="js/app/config/material.config.js"></script>
    <!--Services-->
    <script src="js/app/services/formatter.service.js"></script>
    <script src="js/app/services/socket.service.js"></script>
    <script src="js/app/services/index-irc.service.js"></script>
    <script src="js/app/services/channels-irc.service.js"></script>
    <script src="js/app/services/messages-irc.service.js"></script>
    <script src="js/app/services/commands-parser.service.js"></script>
    <script src="js/app/services/commands.service.js"></script>
    <!--Controllers-->
    <script src="js/app/controllers/title.controller.js"></script>
    <script src="js/app/controllers/index.controller.js"></script>
    <script src="js/app/controllers/channels.controller.js"></script>
    <script src="js/app/controllers/users.controller.js"></script>
    <script src="js/app/controllers/messages.controller.js"></script>
    <script src="js/app/controllers/commands.controller.js"></script>
    <!--Directives-->
    <script src="js/app/directives/channels-list.directive.js"></script>
    <script src="js/app/directives/users-list.directive.js"></script>
    <script src="js/app/directives/messages-list.directive.js"></script>
    <script src="js/app/directives/commands-box.directive.js"></script>
    <% } %>
</head>
<body style="height: 100%;">
    <ui-view />
</body>
</html>