<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My_IRC</title>

    <!-- LIB -->
    <!-- Angular -->
    <!--<script src="js/lib/angular/angular.min.js"></script>-->
    <!--For dev purpose, to remove-->
    <script src="js/lib/angular/angular.js"></script>

    <!-- Angular Material-->
    <script src="js/lib/angular-animate/angular-animate.min.js"></script>
    <script src="js/lib/angular-aria/angular-aria.min.js"></script>
    <script src="js/lib/angular-messages/angular-messages.min.js"></script>
    <script src="js/lib/angular-material/angular-material.min.js"></script>


    <!-- STYLE -->
    <!--Angular Material CSS Sheet-->
    <link rel="stylesheet" href="js/lib/angular-material/angular-material.css">

    <!-- MY_IRC -->
    <script src="js/app/my_irc.module.js"></script>
</head>
<body ng-app="my_irc">

</body>
</html>