<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My_IRC</title>

    <base href="/">

    <!-- LIB -->
    <!-- Angular -->
    <!--<script src="js/lib/angular/angular.min.js"></script>-->
    <!--For dev purpose, to remove-->
    <script src="js/lib/angular/angular.js"></script>

    <!-- Angular Material-->
    <script src="js/lib/angular-animate/angular-animate.min.js"></script>
    <script src="js/lib/angular-aria/angular-aria.min.js"></script>
    <script src="js/lib/angular-messages/angular-messages.min.js"></script>
    <script src="js/lib/angular-material/angular-material.min.js"></script>

    <!--Angular UI Router-->
    <script src="js/lib/angular-ui-router/release/angular-ui-router.min.js"></script>

    <!--Socket.IO-->
    <script src="socket.io/socket.io.js"></script>
    <!--Angular Socket.IO-->
    <script src="js/lib/angular-socket-io/socket.min.js"></script>

    <!-- STYLE -->
    <!--Angular Material CSS Sheet-->
    <link rel="stylesheet" href="js/lib/angular-material/angular-material.css">
    <!--Own CSS Sheet-->
    <link rel="stylesheet" href="css/style.css">

    <!-- MY_IRC -->
    <!--Module and configs -->
    <script src="js/app/my_irc.module.js"></script>
    <script src="js/app/my_irc.route.js"></script>
    <script src="js/app/config/material.config.js"></script>

    <!--Services-->
    <script src="js/app/services/formatter.service.js"></script>
    <script src="js/app/services/socket.service.js"></script>
    <script src="js/app/services/index-irc.service.js"></script>
    <script src="js/app/services/channels-irc.service.js"></script>
    <script src="js/app/services/messages-irc.service.js"></script>

    <!--Controllers-->
    <script src="js/app/controllers/index.controller.js"></script>
    <script src="js/app/controllers/channels.controller.js"></script>
    <script src="js/app/controllers/users.controller.js"></script>
    <script src="js/app/controllers/messages.controller.js"></script>

    <!--Directives-->
    <script src="js/app/directives/channels-list.directive.js"></script>
    <script src="js/app/directives/users-list.directive.js"></script>
    <script src="js/app/directives/messages-list.directive.js"></script>
</head>
<body ng-app="my_irc">
    <ui-view />
</body>
</html>