.disable-text-selection {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.angular-with-newlines {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.custom-hidden {
    visibility: hidden;
    cursor: default;
}

.animate-show-hide.custom-hidden {
    opacity: 0;
}

.animate-show-hide.custom-hidden-add,
.animate-show-hide.custom-hidden-remove {
    transition: all linear 0.1s;
}

md-list-item.small-list,
md-list-item .md-list-item-inner.small-list{
    min-height: 15px;
    height: auto;
}

md-list-item.small-list::before,
md-list-item .md-list-item-inner.small-list::before {
    min-height: 15px;
}

.centered {
    text-align: center;
}