<div ng-cloak>
    <md-toolbar class="md-tall md-primary" layout="row" layout-align="center start" style="min-height:200px">
        <h1>
            <span class="md-display-3">{{ I.title }}</span>
        </h1>
    </md-toolbar>
    <span class="md-accent">{{ I.message }}</span>

    <div layout="row" layout-wrap>
        <channels-list flex="20"></channels-list>
        <messages-list flex="60"></messages-list>
        <users-list flex="20"></users-list>
    </div>
    <commands-box></commands-box>
</div>